<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="{{ url_for('static', filename='scripts/populate.js') }}"></script>
</head>
<body>
    <h1>Get Weather</h1>

    <form action="/weather">
        <select class="form-select" id="country" name="country">
            <option value="">Select Country</option>
        </select>

        <select class="form-select" id="state" name="state">
            <option value="">Select State</option>
        </select>

        <select class="form-select" id="city" name="city">
            <option value="">Select City</option>
        </select>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
