<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="{{ url_for('static', filename='scripts/populate.js') }}"></script>
</head>
<body>
    {% if not err %}

    <h1>Weather in {{ title }}</h1>

    {% else %}

    <h2>Correct location information was not supplied</h2>
    <h2>Showing current weather for {{ title }}</h2>

    {% endif %}

    <p>Current weather: {{ status }} and {{ temp }}&#8457;</p>
    <p>Feels like {{ feels_like }}&#8457;</p>

    <form action="/weather">
        <select class="form-select" id="country" name="country">
            <option value="">Select Country</option>
        </select>

        <select class="form-select" id="state" name="state">
            <option value="">Select State</option>
        </select>

        <select class="form-select" id="city" name="city">
            <option value="">Select City</option>
        </select>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
