* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

h1,
h2,
h3,
p {
    display: block;
    text-align: center;
    margin: 0 auto 20px auto;
}

h3 {
    color: red;
}

select,
button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
    display: block;
    margin: 5px auto;
    width: auto;
}
